.card {
    background: var(--white);
    /* Card Shadow */
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    padding: 32px 25px;
    font-family: Inter, sans-serif;
    flex-basis: 350px;
    height: 367px;
    box-sizing: border-box;
}

.card__top {

}

.card__body {
    padding-top: 24px;
}

.card__title {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    /* identical to box height */
    text-align: center;

    /* Black */
    color: #212429;


}

